<div>
    <div class="wrapper wrapper-content" style="padding-bottom:0px;">
        <form editable-form name="usersModificationForm" oncancel="askCancel()" onbeforesave="saveDialog()">
            <div class="ibox float-e-margins content-white">
                <h4 class="text-left" translate>
                    administration.user_list.title
                </h4>

                <div class="ibox-content">
                    <div ng-if="usersModificationForm.$invalidServerResponse" class="alert alert-danger">
                        <h5 translate>global.form.invalidFormMessageTitle</h5>
                        <ul>
                            <li ng-repeat="fieldError in fieldsErrorMessages"><span translate>contrevenant.messages.{{ fieldError.field }}</span>: {{fieldError.message}}</li>
                            <li ng-repeat="globalError in globalErrorMessages">{{ globalError.message }}</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" ng-class="{'has-error':usersModificationForm.login.$invalid}">
                            <label class="obligatoire" translate>login</label>
                            <input name="username" class="form-control" ng-model="ngDialogData.username" required/>
                        </div>
                        <div class="col-xs-6" ng-class="{'has-error':usersModificationForm.email.$invalid}">
                            <label class="obligatoire" translate>email</label>
                            <input name="email" type="email" class="form-control" ng-model="ngDialogData.email" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" ng-class="{'has-error':usersModificationForm.lastname.$invalid}">
                            <label class="obligatoire" translate>first name</label>
                            <input name="nom" class="form-control" ng-model="ngDialogData.lastname" required/>
                        </div>
                        <div class="col-xs-6" ng-class="{'has-error':usersModificationForm.firstname.$invalid}">
                            <label class="obligatoire" translate>last name</label>
                            <input name="prenom" class="form-control" ng-model="ngDialogData.firstname" required/>
                        </div>
                    </div>
                    <div class="row" >
                        <div ng-if="loadedUser" class="col-xs-6" ng-class="{'has-error':usersModificationForm.password.$invalid}">
                            <label translate>New Password</label>
                            <a class="btn btn-sm m-t-xs btn-primary" ng-click="generatePassword()" title="reinitialize" translate>reinitialize</a>
                            <span ng-id="ngDialogData.passwordPlain">{{ngDialogData.passwordPlain}}</span>
                        </div>
                        <div ng-if="!loadedUser" class="col-xs-6" ng-class="{'has-error':usersModificationForm.password.$invalid}">
                            <label class="obligatoire" translate>global.form.password</label>
                            <input name="password" class="form-control" ng-model="ngDialogData.password" required/>
                        </div>
                        <div class="col-xs-6">
                            <label translate>dateSortie</label>
                            <input name="exitDate" class="form-control input-sm" ng-model="ngDialogData.exitDate" bs-datepicker autoclose="1" input-mask="99/99/9999"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-align" ng-if="ngDialogData.nbEssaisLogin >= 0">
                            <label translate>loginAttempts</label><div class="clearfix"></div>
                            <h3>
                                <span class="label label-sm m-t-xs ng-binding" ng-class="ngDialogData.nbEssaisLogin >= 5 ? 'label-danger' : 'label-warning'">{{ngDialogData.nbEssaisLogin}}</span>
                                <a class="btn btn-sm m-t-xs btn-primary" ng-click="reinitNbEssaisLogin()" title="reinitialize">reinitialize</a>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" ng-class="{'has-error':usersModificationForm.roles.$invalid}">
                            <label translate>role</label>
                            <br />
                            <label ng-repeat="role in roles | orderBy:'name'">
                                <input type="checkbox" checklist-model="userRoles" checklist-value="role" checklist-comparator="compareFn"> {{role.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
			<button type="button" class="btn btn-sm btn-danger"
				ng-click="askCancel()" title="cancel">
				<i class="fa fa-ban"></i>
				<span translate>cancel</span>
			</button>
			<button type="submit" class="btn btn-sm btn-success"
				ng-disabled="usersModificationForm.$pristine" title="save" ng-click="saveDialog()">
				<i class="fa fa-check"></i>
				<span translate>save</span>
			</button>
        </form>

    </div>
</div>
