<!DOCTYPE html>
<html lang="en" ng-app="flaskAngular">

<head>
    <link rel='stylesheet' href='/static/stylesheets/style.css' /> 
    <meta charset="utf-8">
    <link rel='stylesheet' href="%%url_for('static', filename='bootstrap/css/bootstrap.css')%%" />
    <link href="/static/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/static/bower_components/ng-dialog/css/ngDialog.min.css'/>
    <link rel='stylesheet' href='/static/bower_components/ng-dialog/css/ngDialog-theme-default.min.css'/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RestfulMean</title>

</head>

<body ng-controller="MainController as main">

<div class="container">

    <div class="row">

        <div class="col-lg-8">

            <h1>{{title}}</h1>


            <!-- Author -->
            <p class="lead">

            </p>

            <hr>

            <!-- Date/Time -->
            <span class="glyphicon glyphicon-time">
                <p>{{ clock  | date:'medium'}}</p>
            </span>
            <hr>


            <!-- <div>
            <input ng-model="login.email" placeholder="Email"/>
            <input ng-model="login.password" placeholder="Password">
            <button ng-click="login(login)">+</button>
            </div> -->

            <div>
                <form role="form">
                    <div class="form-group">

                        <ng-view></ng-view>
                    </div>
                </form>
            </div>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <form>
                <div class="well" ng-show="!user.id">
                    <input class="form-control" type="text" ng-model="user.email" placeholder="Email">
                    <input class="form-control" type="password" ng-model="user.password" placeholder="Password">
                    <button class="sign" ng-click="signin(user)" type="submit">Sign In</button>
                    <button class="sign" ng-click="signup(user)">Sign Up</button>
                </div>
            </form>
            <div ng-show="user.id">
                <button ng-click="logout()">LOGOUT</button>
            </div>



        </div>

        <hr>

    </div>
</div>
</div>
<!-- Footer -->
<footer>

</footer>

<script src="static/bootstrap/js/jquery.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/node_modules/underscore/underscore-min.js"></script>
<script src="static/node_modules/angular/angular.min.js"></script>
<script src="static/bower_components/summernote/dist/summernote.min.js"></script>
<script src="static/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="static/node_modules/angular-route/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
<script src="static/node_modules/angularjs-toaster/toaster.js"></script>
<script src="static/node_modules/angular-translate/dist/angular-translate.js"></script>
<script src="static/bower_components/ng-dialog/js/ngDialog.min.js"></script>
<script src="static/node_modules/angular-chosen/dist/chosen.min.js"></script>
<script src="static/bower_components/checklist-model/checklist-model.js"></script>

<script src="static/js/flask.js"></script>

</body>
</html>
