<div ng-if="user._id">
    <form role="form">
        <div class="form-group">
            <input ng-model="articleText.title" placeholder="Titre"/>

            <div>
                <summernote ng-model="articleText.content" height="300">Hello Summernote</summernote>
            </div>
            <button class="btn btn-primary" ng-click="addArticle(articleText)">Add your post</button>

        </div>
    </form>
</div>
<div class="row" ng-repeat="article in articles | orderBy:'-updated_at'">
    <div ng-if="article.authorId == user._id">
        <button class="btn btn-primary" ng-click="article.editMode = !article.editMode;">Edit</button>
        <button class="btn btn-primary" ng-click="removeArticle(article._id)">Delete</button>
    </div>
    <div ng-if="article.editMode">
        <form role="form">
            <div class="form-group">
                <input ng-model="article.title" placeholder="Titre"/>

                <div>
                    <summernote ng-model="article.content" height="300">Hello Summernote</summernote>
                </div>
                <button class="btn btn-primary" ng-click="editArticle(article)">Edit your post</button>

            </div>
        </form>
    </div>
    <div class="well" ng-if="!article.editMode">
        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{article.title}}</h1>

        <!-- Author -->
        <p class="lead">{{article.authorName}}</p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time">  {{article.updated_at | date : 'medium'}}</span></p>

        <hr>

        <!-- Preview Image -->

        <hr>

        <!-- Post Content -->
        <p class="lead" data-ng-bind-html="sanitize(article.content)"></p>
        <hr>

    </div>
    <div ng-controller="CommentController as commentaire">
        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well" ng-if="user._id">
            <h4>Leave a Comment:</h4>

            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-model="comment.content"></textarea>
                </div>
                <button type="button" class="btn btn-primary" ng-click="addCommentaire(article._id, comment)">Submit
                </button>
            </form>
            <hr>


            <div class="row" ng-repeat="comment in article.comments | orderBy:'-updated_at'">
                <!-- Comment -->
                <div class="media">
                    <p class="com">{{comment.authorName}} :</p>
                    <hr>
                    <div class="media-body">
                        <p class="com2">{{comment.content}}</p>
                    </div>
                </div>
                <button type="button" ng-click="removeCommentaire(article._id, comment._id)">DELETE COMM</button>

                </form>
            </div>

        </div>
    </div>

</div>