<div class="wrapper wrapper-content content-white">
    <div class="row">
		<div class="col-sm-12">
			<div class="ibox">
				<h4 class="ibox-title">
					roleManager.title
				</h4>
				<form class="ibox-content" name="roleManagerForm">
					<div class="form-group">
						<label class="control-label"> Roles</label>
						<div class="input-group">
							<select chosen class="chosen-select" ng-model="role" ng-change="changeSelectedRole(role)" style="width:350px;" ng-options="r as r.name for r in roles | orderBy : 'name'" >
								<option></option><!-- important to resolve a bug with chosen.js and angular :  it might not be the best solution -->
							</select>
							<button class="btn btn-primary glyphicon glyphicon-plus" ng-click="createNewRole()" tooltip="Créer un nouveau rôle" style="margin-left:10px" title="Créer"></button>
						</div>
					</div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Nom</label>
                                <input type="text" class="form-control" ng-model="role.name" ng-disabled="role.deletable == false">
                            </div>
                        </div>
                    </div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<label>Description</label>
								<input type="text" class="form-control" ng-model="role.description">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="swap-lists">
							<div class="swap-lists-container">
								<div class="left-column">
									<label class="control-label">Droits disponibles</label>
									<select multiple ng-model="selectedAvailableAuthorities" ng-options="displayedAuthority.description group by displayedAuthority.category for displayedAuthority in displayedAuthorities | filter:displayedAuthority.affected='false' | orderBy:'description'">
									</select>
								</div>
								<div class="swap-lists-buttons">
									<button class="btn btn-sm btn-primary m-t-n-xs fa fa-arrow-right" ng-click="affectSelectedAuthority()" title="{{'global.button.add' }}"></button>
									<button class="btn btn-sm btn-primary m-t-xs fa fa-arrow-left" ng-click="removeSelectedAuthority()" title="{{'global.button.pullOff' }}"></button>
								</div>
							</div>
							<div class="swap-lists-container">
								<div class="right-column">
									<label class="control-label">Droits du rôle</label>
									<select multiple ng-model="selectedRoleAuthorities" ng-options="displayedAuthority.description group by displayedAuthority.category for displayedAuthority in displayedAuthorities | filter:displayedAuthority.affected='true' | orderBy:'description' ">
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="buttons col-xs-6">
							<button class="btn btn-sm btn-success" ng-click="saveRole(role)" title="Mettre à jour">
								<i class="fa fa-save"></i>
								<span>Mettre à jour</span>
							</button>
							<button class="btn btn-danger" ng-show="role.deletable" ng-click="deleteRole(role)" title="Supprimer">
								<i class="fa fa-close"></i>
								<span>Supprimer</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>
<script type="text/ng-template" id="DeleteRoleDialogTemplate">
    <div class="wrapper wrapper-content">
        <div class="ibox">roleManager.messages.confirm.deleteRole</div>
        <div class="buttons">
            <button class="btn btn-sm btn-danger pull-right m-t-n-xs" ng-click="closeThisDialog()" title="{{'global.button.cancel' }}">
				<i class="fa fa-ban"></i>
				{{'global.button.cancel' }}
			</button>
            <button class="btn btn-sm btn-success pull-right m-t-n-xs" ng-click="confirm(true)" title="{{'global.button.confirl' }}">
				<i class="fa fa-check"></i>
				{{'global.button.confirm' }}
			</button>
        </div>
    </div>
</script>
