<div class="row wrapper wrapper-content content-white border-bottom">
    <h4 class="ibox-title">
        <span translate="" class="ng-scope">User list</span>
        <button class="btn btn-sm btn-primary col-md-1 m-b-sm pull-right ng-scope" type="button" ng-click="editUser()" title="Add">
            <i class="fa fa-plus"></i>
            <span class="bold ng-scope" translate>Add</span>
        </button>
    </h4>
    <div class="col-lg-12">
        <filtered-table-client headers="headers" filter-criteria="filterCriteria" model="users"
                        go="editUser(object)" fetch-result="fetchResult()" count="count"
                        loading="loading"></filtered-table>
    </div>
</div>
